
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}



body {
  font-family: Arial, sans-serif;

  height: 100vh;
  background-color: #F6F8FA;
}

h1 {
  text-align: center;
}

label {
  display: inline-block;
  padding: 10px 20px;
  background-color: green;
  border: none;
  border-radius: 5px;
  margin: 10px;
  color: white;
  cursor: pointer;
}

input[type="submit"] {
  background-color: green;
  color: white;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: green;
  color: white;
}

tr:nth-child(even){
  background-color: #f2f2f2;
}




#uploadborm {
  background-color: green;
  border: none;
  color: #000000;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}