<!DOCTYPE html>
<html>
  <head>
    <title>Upload CSV File</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    <h1>Upload CSV File</h1>
    <label for="file-input" class="upload-button">Choose File</label>
    <form id="uploadForm" method="POST" enctype="multipart/form-data" action="{{ url_for('select_columns') }}">
      <input type="file" id="file-input" name="file" accept=".csv">
    </form>

    <script>
      const fileInput = document.getElementById("file-input");

      fileInput.addEventListener("change", (event) => {
        event.preventDefault();
        uploadForm.submit();
      });
    </script>
  </body>
</html>
