<!DOCTYPE html>
<html>
  <head>
    <title>Upload CSV File</title>
  </head>
  <body>
    <h1>Upload CSV File</h1>
    <form id="uploadborm" method="POST" enctype="multipart/form-data" action = "{{url_for('select_columns')}}">
      <input type="file" id="fileInput" name="file" accept=".csv">
    </form>

    <script>
      const fileInput = document.getElementById("fileInput");
      fileInput.addEventListener("change", () => {
        document.getElementById("uploadborm").submit();
      });
    </script>
  </body>
</html>


