<html>
  <head>
    <title>Index Page</title>
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      h1 {
        font-size: 3rem;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Select a file to detect:</h1>
      <form id="fileForm" action="/detect" method="POST" enctype="multipart/form-data">
        <input type="file" id="fileInput" name="file" accept=".csv">
      </form>

    </div>
    <script>
      const fileInput = document.getElementById("fileInput");
      fileInput.addEventListener("change", function() {
        document.getElementById("fileForm").submit();
      });
    </script>
  </body>
</html>

