<!DOCTYPE html>
<html>
  <head>
    <title>Split Data</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    <h1>Split Data</h1>
    <form method="POST" action="{{ url_for('train_model') }}"> 
      <label for="train_size">Train Size:</label>
      <input type="text" name="train_size" value="0.3"><br>
      <label for="test_size">Test Size:</label>
      <input type="text" name="test_size" value="0.7"><br>
      <input type="submit" value="Train Model">
    </form>
  </body>
</html>