<!DOCTYPE html>
<html>
  <head>
    <title>MLAAS App - Step 3</title>
  </head>
  <body>
    <h1>Set splitting value</h1>
    <form method="post" action="/step3">
      <div class="form-group">
        <label for="input1">Input 1:</label>
        <input type="number" name="input1" id="input1" class="form-control" value="3000">
      </div>
      <div class="form-group">
        <label for="input2">Input 2:</label>
        <input type="number" name="input2" id="input2" class="form-control" value="7000">
      </div>
      <button type="submit" class="btn btn-primary">Split</button>
    </form>
  </body>
</html>
