<!DOCTYPE html>
<html>

<head>
    <title>Models</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
    {% if not models %}
    <h1>No models available. Please Try Again.</h1>
    {% else %}
    <h1>Select Model</h1>
    <form method="POST" action="{{ url_for('model_result') }}">

        <table>
            <thead>
                <tr>
                    <th>Model Name</th>
                    <th>Accuracy</th>
                    <th>Select</th>
                </tr>
            </thead>
            <tbody>
                {% for model in models %}
                <tr>
                    <td>{{ model.name }}</td>
                    <td>{{ model.accuracy }}</td>
                    <td>
                        <input type="radio" name="model" value="{{ model.index }}">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="View Results">
    </form>
    {% endif %}
</body>

</html>